<!-- <div class="c-employeer grid"> -->
    <ng-template pTemplate="content">
        <div class="p-field">
            <label for="name">Name</label>
            <!-- <input type="text" pInputText id="name" [(ngModel)]="employeer.name" required autofocus />
            <small class="p-error" *ngIf="submitted && !employeer.name">Name is required.</small> -->
        </div>
        <div class="p-field">
            <label for="surname">Surname</label>
            <!-- <input type="text" pInputText id="surname" [(ngModel)]="employeer.surname" required autofocus />
            <small class="p-error" *ngIf="submitted && !employeer.surname">Surname is required.</small> -->
        </div>
        <div class="p-field">
            <label for="workPosition">Work position</label>
        </div>

        <div class="p-field">
            <label for="dateBirth">Date of birth</label> 
        </div>
    </ng-template>
    
    <ng-template pTemplate="footer">
        <!-- <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button> -->
    </ng-template>
<!-- </div> -->
