/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    overflow-x: hidden;
}
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}
// .p-dialog-content {
//     min-height: 500px;
// }